<!DOCTYPE html>{% load static %}{% load color_tag %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>
        <div class="col s12 m8">
          <table border="1" width="100%" cellpadding="5">
              {% for one_row in data%}
                {% if forloop.first %}
                  <tr>
                  {% for one_elem in one_row %}
                    {% if one_elem.last %}
                      <td bgcolor="grey">{{ one_elem }}</td>
                    {% elif one_elem == "Суммарная" %}
                      <td bgcolor='grey' style="text-align: center"> Всего </td>
                    {% else %}
                      <td> {{ one_elem }} </td>
                    {% endif %}
                  {% endfor %}
                  </tr>
                {% else %}
                  <tr>
                    {% for one_elem in one_row %}
                      {% if forloop.first %}
                        <td style="font-weight: bold"> {{ one_elem }} </td>
                      {% elif forloop.last %}
                        <td bgcolor='grey' style="text-align: center"> {{ one_elem }} </td>
                      {% elif one_elem == "-" %}
                        <td bgcolor='white' style="text-align: center"> {{ one_elem }} </td>
                      {% else %}
                        <td bgcolor={{one_elem|coloring}}> {{ one_elem }} </td>
                      {% endif %}
                  {% endfor %}
                  </tr>
                {% endif %}
              {% endfor %}
          </table>
        </div>
      </div>
    {% endblock %}
  </body>
</html>

